<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="parentClass">
  <h1>
    Welcome to {{title}}!
  </h1>
  <h2>{{heading}}</h2>  

  <input type="text" id="username" value={{userName}} (keyup)="nameChange($event)" />

  <button (click)="passUserName()">SendUserName</button>
  <br/>
  <label>{{userNameFromChild}}</label>
  <br/>
  <b>{{message}}</b>
  <br/>
  <button (click)="newMessage()" class="button">New Message</button>

  <cart-app 
    [cartType]="cartTypeParent" 
    [cartAmount]="cartAmountParent" 
    [userName]="userNameParent">    
  </cart-app>

  <!-- <user-child></user-child> -->
  <user-child (messageEvent)="receiveMesssage($event)" ></user-child>
  
</div>
