<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="parentClass">
  <h1>
    Welcome to {{title}}!
  </h1>
  <h2>{{heading}}</h2>  

  <input type="text" id="username" value={{userName}} (keyup)="nameChange($event)" />

  <button (click)="passUserName()">SendUserName</button>
  <br/>
  <label>{{userNameFromChild}}</label>
  <br/>
  <b>{{message}}</b>
  <br/>
  <button (click)="newMessage()" class="button">New Message</button>

  <ul class="productTable">
    <li *ngFor="let product of products">
        <p>{{product.productName|uppercase}} / ${{product.productPrice|uppercase}}</p>
        <p> {{product.display|lowercase}} </p>
    </li>
  </ul>

  <cart-app 
    [cartType]="cartTypeParent" 
    [cartAmount]="cartAmountParent" 
    [userName]="userNameParent">    
  </cart-app>

  <!-- <user-child></user-child> -->
  <user-child (messageEvent)="receiveMesssage($event)" ></user-child>
  

  <hr>
  <div class="logo">Create a new account!</div>
    <div class="register-item">
      <form #myform="ngForm" (ngSubmit)="register(myform)" class="form form-register">

        <div class="form-field">
              <label class="user" for="register-username"><span class="hidden">Name</span></label>
              <input name="name" id="register-username" type="email" class="form-input" placeholder="Name" ngModel required>
        </div>
        <div class="form-field">
          <label class="user" for="register-email"><span class="hidden">Email</span></label>
          <input name="email" id="register-email" type="email" class="form-input" placeholder="Email" ngModel required>
        </div>

        <div class="form-field">
          <label class="lock" for="register-password"><span class="hidden">Password</span></label>
          <input name="password" id="register-password" type="password" class="form-input" placeholder="Password" ngModel required>
        </div>

        <div class="form-field">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
</div>
